@{
ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Person Management App</h1>
        <p class="lead">This web application allows you to manage information about individuals. It provides the following functionalities:</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>App Functionalities:</h2>
            <ul>
                <li>Keep track of users with their personal information.</li>
                <li>Add a new person to the database with the following details:</li>
                <li>Delete a person from the database.</li>
                <li>Update the information of an existing person.</li>
                <li>View all the data of the users stored in the system.</li>
            </ul>
        </div>
    </div>
</div>
